

body {
    background-color: #213C51;
    font-family: "Brush Script MT","Lucida Handwriting", cursive;

}

/* use this color late for like lines n shit: #DDAED3*/

h1 {
    color: #EEEEEE;
    margin:0;
    display: inline-block;
    border-bottom: 2px solid #DDAED3 ;
}

/* 6594B1 */
.boxThingy {
    background-color: #6594B1;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

p {
    color: #EEEEEE;
    margin: 5px;
}

.hideThis {
    display: none;
    color: #EEEEEE;
}
